<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>juanborre</string>
	<key>description</key>
	<string>Displays time information for anywhere in the planet</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Time anywhere</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>time</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python3 get_time.py $API_KEY $1 </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_time.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Time at city</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57B6CE71-6DF7-4607-A6C9-4C74EC516F92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Time Anywhere

See the Github page [alfred-time-anywhere](https://github.com/juanborre/alfred-time-anywhere) for more information.

![Alfred Time Anywhere img](./media/alfred-time-anywhere.png)



## Configuration

The workflow works out of the box with a default `API_KEY` for the [ipgeolocation API](https://ipgeolocation.io/).

The API has a request limit so, if you stick with using the workflow, I suggest that you make your own to let space for other people and not to be rate limited yourself.

You can set your own `API_KEY` in the workflow configuration.

Making a developer `API_KEY` is free of charge as of today.

Enjoy! 👋</string>
	<key>uidata</key>
	<dict>
		<key>57B6CE71-6DF7-4607-A6C9-4C74EC516F92</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>c9e3c59947a145d58f370136e1d4f413</string>
				<key>placeholder</key>
				<string>API_KEY</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>You can register for an API_KEY at this website: https://ipgeolocation.io/</string>
			<key>label</key>
			<string>API_KEY for the ipgeolocation API</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>API_KEY</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/juanborre/alfred-time-anywhere</string>
</dict>
</plist>
